html[data-mode='theme-1'] {
    
    * {
        --fb-chart-color-1: #37A3EB;
        --fb-chart-color-2: #FD6384;
        --fb-chart-color-3: #4BC1C1;
        --fb-chart-color-4: #FD9F3F;
        --fb-chart-color-5: #9965FE;
        --fb-chart-color-6: #FECD57;
        --fb-chart-color-7: #C9CBD0;
        --example-data-point-background: #4BC1C1;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-light;
    }
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-2xl;
    }

    table thead th {
        @apply p-2 border-b-2 border-gray-200 text-sm bg-white;
    }

    table tbody td {
        @apply py-4 px-2 border-b-2 border-gray-200 text-sm  bg-white;
    }

     /* common layout */
    .fb-component {
        
    }

    /* common chart styles */
    .fb-chart-hero {
        h2 {
            @apply text-2xl font-medium;
        }
    }

    .fb-chart-legend {
        p {
            display: flex;
            width: 100%;
            span:nth-of-type(2) {
                margin-left: 1rem !important;
            }
            span:nth-of-type(1) {
                margin-right: auto !important;
            }
        }
    }

    .fb-chart-doughnut + .fb-chart-hero {
        display: flex;
        flex-direction: column-reverse;
        top: 35%;
        & h2 {
            @apply text-2xl;
        }
        & h3 {
            @apply text-4xl;
        }
    }
    /* common buttons */
    .fb-button-primary {
        background-color: var(--fb-chart-color-1);
    }

    
    .fb-button-secondary {
        background-color: var(--fb-chart-color-7);
        @apply py-2
            px-4
            font-semibold
            text-gray-600
            rounded-lg
            shadow-md;
            &:hover {
                @apply bg-gray-600 text-white;
            }
            &:focus {
                @apply outline-none ring-2 ring-opacity-75;
            }
    }

    /* Header */
    .header {
        display:flex;
        justify-content: space-between;
        @apply p-4 bg-slate-500;

        & .logo::before {
            content: "\f299";
            font: var(--fa-font-brands);
            @apply mr-2 text-green-500;
        }
        & .logo {
            @apply text-xl text-white;
        }
        & .menu {
            & a {
                @apply text-white no-underline mx-2;
            }

            & .profile::before {
                content: "\f2bd";
                font: var(--fa-font-solid);
                @apply mr-2 ml-0 text-lg;
            }

            & .logout::before {
                content: "|";
                @apply mr-4;
            }
        }
    }
    .fb-positions-grid th {
        @apply bg-slate-50;
    }

    /* DATA POINT */
    .fb-data-point h3 {
        /* @apply text-2xl; */
    }
    .fb-data-point h4 {
        @apply text-3xl;
    }
    .fb-data-point-body {
        @apply p-3;
    }
    .fb-data-point-trend {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .fb-data-point-trend[data-trend-direction='up']::before {
        content: "+";
    }
    .fb-data-point-trend[data-trend-direction='down']::before {
        content: "-";
    }
    .fb-data-point-footer {
        & a {
            @apply text-white;
        }
        @apply pl-3 py-2;
    }
    .icon::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .fb-data-point-body {
        margin-left: 55px;
    }

    .fb-data-point::before {
        position: absolute;
        top: 20px;
        left: 10px;
        font-size: 20px !important;
        font: var(--fa-font-solid);
        padding: .75rem 1rem;
        color: var(--example-data-point-background);
        @apply rounded-full bg-white;
    }

    .aum .fb-data-point::before {
        content: "\24";
    }

    .fees .fb-data-point::before {
        content: "\f81d";
        padding: .75rem;
    }

    .clients .fb-data-point::before {
        content: "\f0c0";
        padding: .75rem .65rem;
    }

    /* fb-total-aum-chart */
    .fb-total-aum-chart {
        
    }
    
}