@import "@/scss/variables.scss";
@import "@/scss/root.scss";
* {
    --fb-chart-color-1: #E7F0F6;
    --fb-chart-color-2: #DAE4EC;
    --fb-chart-color-3: #CBD3DB;
    --fb-chart-color-4: #9AA2AF;
    --fb-chart-color-5: #6A7380;
    --fb-chart-color-6: #4B5663;
    --fb-chart-color-7: #374251;
}