:root {
    --break-point-sm: #{$break-point-sm};
    --break-point-md: #{$break-point-md};
    --break-point-lg: #{$break-point-lg};
    --break-point-xl: #{$break-point-xl};
    --break-point-xll: #{$break-point-xll};
}