@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-light;
    }
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-2xl;
    }

    table thead th {
        @apply p-2 border-b-2 border-gray-200 text-sm;
    }

    table tbody td {
        @apply py-4 border-b-2 border-gray-200 text-sm;
    }
}


.fb-client-list-item-container {
    @apply mt-2 mr-2 mb-2;
}
/* ClientCard styles */
.fb-client-card {
    @apply rounded-sm drop-shadow-md bg-white p-4;
}
.fb-client-card label {
    @apply pr-2;
}
.fb-client-card span {
    @apply text-gray-500;
}
.fb-client-card label::after {
    content:":";
}
.fb-client-card-stats {
    @apply mb-5 !important;
}
.fb-client-card-contact-info {
    @apply mb-4 !important;
}

/* ClientListItem styles */

.fb-client-list-item {
    @apply border-b-2 border-gray-200 bg-white pt-2 pr-2 pb-2;
}
.fb-client-list-item label {
    @apply pr-2;
}
.fb-client-list-item span {
    @apply text-gray-500 text-2xl;
}
.fb-client-list-item-stats {
    @apply mr-4 !important;
}
.fb-client-list-item-stats li {
    display: flex;
    flex-flow: column-reverse;
}
.fb-client-list-item a[href='#'] {
    align-self: center;
    justify-self: center;
}
.fb-client-list-item a[href='#']::after {
    font: var(--fa-font-solid);
    content: "\f054";

}

.fb-client-card a[href='#'],
.primary-button {
    @apply py-2 px-4 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75;
}


.fb-data-point h3 {
    /* @apply text-2xl; */
}
.fb-data-point h4 {
    @apply text-3xl;
}
.fb-data-point-body {
    @apply p-3;
}
.fb-data-point-trend {
    position: absolute;
    top: 10px;
    right: 10px;
}
.fb-data-point-trend[data-trend-direction='up']::before {
    content: "+";
}
.fb-data-point-trend[data-trend-direction='down']::before {
    content: "-";
}
.fb-data-point-footer {
    @apply pl-3 py-2 bg-indigo-400/40;
}
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fb-data-point-body {
    margin-left: 55px;
}

.fb-data-point::before {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px !important;
    font: var(--fa-font-solid);
    padding: .75rem 1rem;
    @apply rounded-full bg-white text-indigo-500;
}
.aum .fb-data-point::before {
    content: "\24";
}

.fees .fb-data-point::before {
    content: "\f81d";
    padding: .75rem;
}

.clients .fb-data-point::before {
    content: "\f0c0";
    padding: .75rem .65rem;
}

/* PositionsGrid */
.fb-positions-grid td[data-cell="security_description"],
.fb-positions-grid td[data-cell="quantity"]
{
    text-align: center;
}
.fb-positions-grid td[data-cell="market_value"],
.fb-positions-grid td[data-cell="change_in_value_amt"],
.fb-positions-grid td[data-cell="change_in_value_pct"]
{
    text-align: right;
}